<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1d5d31">
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="dns-prefetch" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% liquid
      # Headings (font + weight come from picker)
      assign h1_font = settings['heading-1']
      assign h2_font = settings['heading-2']
      assign h3_font = settings['heading-3']
      assign h4_font = settings['heading-4']
      assign h5_font = settings['heading-5']
      assign h6_font = settings['heading-6']

      # Body
      assign b1_font = settings['type_body-1']
      assign b2_font = settings['type_body-2']

      # Utility weights (Normal/Medium/Bold/ExtraBold)
      assign font_normal = settings['font-normal']
      assign font_medium = settings['font-medium']
      assign font_semibold = settings['font-semibold']
      assign font_bold = settings['font-bold']
      assign font_extrabold = settings['font-extrabold']
    %}

    {{ 'Neilvard-One.ttf' | asset_url | preload_tag: as: 'font', type: 'font/ttf', crossorigin: true }}
    {{ 'Neilvard-One.otf' | asset_url | preload_tag: as: 'font', type: 'font/otf', crossorigin: true }}
    {{ 'Neilvard-Semibold-One.ttf' | asset_url | preload_tag: as: 'font', type: 'font/ttf', crossorigin: true }}
    {{ 'Neilvard-Semibold-One.otf' | asset_url | preload_tag: as: 'font', type: 'font/otf', crossorigin: true }}

    {% style %}
      /* Emit @font-face for each chosen variant */
      {{ h1_font | font_face: font_display: 'swap' }}
      {{ h2_font | font_face: font_display: 'swap' }}
      {{ h3_font | font_face: font_display: 'swap' }}
      {{ h4_font | font_face: font_display: 'swap' }}
      {{ h5_font | font_face: font_display: 'swap' }}
      {{ h6_font | font_face: font_display: 'swap' }}
      {{ b1_font | font_face: font_display: 'swap' }}
      {{ b2_font | font_face: font_display: 'swap' }}
      {{ font_normal | font_face: font_display: 'swap' }}
      {{ font_medium | font_face: font_display: 'swap' }}
      {{ font_semibold| font_face: font_display: 'swap' }}
      {{ font_bold | font_face: font_display: 'swap' }}
      {{ font_extrabold | font_face: font_display: 'swap' }}

      @font-face {
        font-family: "Neilvard One";
          src: url('{{ "Neilvard-One.ttf"   | asset_url }}') format("truetype"),
          url('{{ "Neilvard-One.otf"   | asset_url }}') format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Neilvard Semibold One";
          src: url('{{ "Neilvard-Semibold-One.ttf"   | asset_url }}') format("truetype"),
          url('{{ "Neilvard-Semibold-One.otf"   | asset_url }}') format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      :root {
        --font-h1: normal normal {{ h1_font.weight }} 2.5rem/1.2 {{ h1_font.family }}, {{ h1_font.fallback_families }};
        --font-h2: normal normal {{ h2_font.weight }} 2rem/1.3 {{ h2_font.family }}, {{ h2_font.fallback_families }};
        --font-h3: normal normal {{ h3_font.weight }} 1.75rem/1.3 {{ h3_font.family }}, {{ h3_font.fallback_families }};
        --font-h4: normal normal {{ h4_font.weight }} 1.5rem/1.4 {{ h4_font.family }}, {{ h4_font.fallback_families }};
        --font-h5: normal normal {{ h5_font.weight }} 1.25rem/1.4 {{ h5_font.family }}, {{ h5_font.fallback_families }};
        --font-h6: normal normal {{ h6_font.weight }} 1.125rem/1.4 {{ h6_font.family }}, {{ h6_font.fallback_families }};

        --font-b1: normal normal {{ b1_font.weight }} 1rem/1.6 {{ b1_font.family }}, {{ b1_font.fallback_families }};
        --font-b2: normal normal {{ b2_font.weight }} 0.875rem/1.6 {{ b2_font.family }}, {{ b2_font.fallback_families }};

        --font-400: normal normal {{ font_normal.weight }} 1rem/1.6 {{ font_normal.family }}, {{ font_normal.fallback_families }};
        --font-500: normal normal {{ font_medium.weight }} 1rem/1.6 {{ font_medium.family }}, {{ font_medium.fallback_families }};
        --font-600: normal normal {{ font_semibold.weight }} 1rem/1.6 {{ font_semibold.family }}, {{ font_semibold.fallback_families }};
        --font-700: normal normal {{ font_bold.weight }} 1rem/1.6 {{ font_bold.family }}, {{ font_bold.fallback_families }};
        --font-800: normal normal {{ font_extrabold.weight }} 1rem/1.6 {{ font_extrabold.family }}, {{ font_extrabold.fallback_families }};
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | preload_tag: as: 'style' }}
    {%- if request.page_type == 'product' -%}
      {{ 'photoswipe.css' | asset_url | preload_tag: as: 'style' }}
      {{ 'swiper-bundle.min.css' | asset_url | preload_tag: as: 'style' }}
    {%- endif -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {%- if request.page_type == 'product' -%}
      {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
      {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    {{ 'jquery.min.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'header.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'drawer-product.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'drawer-cart.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}

    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    {% comment %} {% render 'social-meta-tags' %} {% endcomment %}

    {{ content_for_header }}
  </head>
  <body class="{{ template | handleize }}">
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <a class="skip-to-content" href="#MainContent">Skip to content</a>
    {% section 'announcement-bar' %}
    <header>
      {% section 'header' %}
    </header>
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'footer' %}
    </footer>
    {% section 'predictive-search' %}
    {% section 'drawer-product' %}
    {% section 'drawer-cart' %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {{ shop.name | json }},
        "potentialAction": {
          "@type": "SearchAction",
          "target": {{ potential_action_target | json }},
          "query-input": "required name=search_term_string"
        },
        "url": {{ request.origin | append: page.url | json }}
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": {{ shop.name | json }},
        {% if settings.brand_logo != blank %}
        "logo": "",
        {% endif %}
        "sameAs": [
          {{ settings.social_twitter_link | json }},
          {{ settings.social_facebook_link | json }},
          {{ settings.social_pinterest_link | json }},
          {{ settings.social_instagram_link | json }},
          {{ settings.social_youtube_link | json }}
        ],
        "url": {{ request.origin | append: page.url | json }}
      }
    </script>

    {%- if request.page_type == 'product' -%}
      <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
      <script src="{{ 'photoswipe.umd.min.js' | asset_url }}" defer></script>
      <script src="{{ 'photoswipe-lightbox.umd.min.js' | asset_url }}" defer></script>
      <script src="{{ 'product-media.js' | asset_url }}" defer></script>
      <script src="{{ 'variant-picker.js' | asset_url }}" defer></script>
    {%- endif -%}

    <script src="{{ 'header.js' | asset_url }}" defer></script>
    <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'drawer-product.js' | asset_url }}" defer></script>
    <script src="{{ 'drawer-cart.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
