<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1d5d31">
    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% comment %} {% render 'social-meta-tags' %} {% endcomment %}
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="dns-prefetch" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <style>
      {{ settings.type_header | font_face }}
      {{ settings.type_body | font_face }}
      :root {
        --font-header: {{ settings.type_header.family }}, {{ settings.type_header.fallback_families }};
        --font-body: {{ settings.type_body.family }}, {{ settings.type_body.fallback_families }};
      }
    </style>

    {{ 'base.css' | asset_url | preload_tag: as: 'style' }}
    {{ 'owl.carousel.css' | asset_url | preload_tag: as: 'style' }}
    {{ 'owl.theme.default.css' | asset_url | preload_tag: as: 'style' }}
    {%- if request.page_type == 'product' -%}
      {{ 'photoswipe.css' | asset_url | preload_tag: as: 'style' }}
      {{ 'swiper-bundle.min.css' | asset_url | preload_tag: as: 'style' }}
    {%- endif -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
    {{ 'owl.theme.default.css' | asset_url | stylesheet_tag }}
    {%- if request.page_type == 'product' -%}
      {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
      {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    {{ 'jquery.min.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'header.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'owl.carousel.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'drawer-product.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'drawer-cart.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}

    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    {{ content_for_header }}
  </head>
  <body class="{{ template | handleize }}">
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <a class="skip-to-content" href="#MainContent">Skip to content</a>
    {% section 'announcement-bar' %}
    <header>
      {% section 'header' %}
    </header>
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'footer' %}
    </footer>
    {% section 'predictive-search' %}
    {% section 'drawer-product' %}
    {% section 'drawer-cart' %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": {{ shop.name | json }},
        "potentialAction": {
          "@type": "SearchAction",
          "target": {{ potential_action_target | json }},
          "query-input": "required name=search_term_string"
        },
        "url": {{ request.origin | append: page.url | json }}
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": {{ shop.name | json }},
        {% if settings.brand_logo != blank %}
        "logo": "https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundari-silks-logo.png",
        {% endif %}
        "sameAs": [
          {{ settings.social_twitter_link | json }},
          {{ settings.social_facebook_link | json }},
          {{ settings.social_pinterest_link | json }},
          {{ settings.social_instagram_link | json }},
          {{ settings.social_youtube_link | json }}
        ],
        "url": {{ request.origin | append: page.url | json }}
      }
    </script>

    <script src="{{ 'header.js' | asset_url }}" defer></script>
    <script src="{{ 'owl.carousel.js' | asset_url }}" defer></script>
    {%- if request.page_type == 'product' -%}
      <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
      <script src="{{ 'photoswipe.umd.min.js' | asset_url }}" defer></script>
      <script src="{{ 'photoswipe-lightbox.umd.min.js' | asset_url }}" defer></script>
      <script src="{{ 'product-media.js' | asset_url }}" defer></script>
      <script src="{{ 'variant-picker.js' | asset_url }}" defer></script>
    {%- endif -%}

    <script src="{{ 'drawer-product.js' | asset_url }}" defer></script>
    <script src="{{ 'drawer-cart.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
