<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ shop.name }}
      {% if page_title %} — {{ page_title }}{% endif %}
    </title>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {%- if request.page_type == 'product' -%}
      <link rel="preload" as="style" href="{{ 'photoswipe.css' | asset_url }}">
    {%- endif -%}
    {%- if request.page_type == 'product' -%}
      {{ 'photoswipe.css' | asset_url | stylesheet_tag }}
      {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    {{ content_for_header }}
  </head>
  <body class="{{ template | handleize }}">
    <a class="skip-to-content" href="#MainContent">Skip to content</a>
    {% section 'announcement-bar' %}
    <header>
      {% section 'header' %}
    </header>

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    <footer>
      {% section 'footer' %}
    </footer>

    {%- if request.page_type == 'product' -%}
      <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
      <script src="{{ 'photoswipe.umd.min.js' | asset_url }}" defer></script>
      <script src="{{ 'photoswipe-lightbox.umd.min.js' | asset_url }}" defer></script>
      <script src="{{ 'product-media.js' | asset_url }}" defer></script>
    {%- endif -%}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
