<div class="page-account">
  <aside class="page-account-navigation">
    <nav>
      <a class="active" href="/account">
        <span> Account Details </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </a>
      <a href="/pages/order">
        <span> My Orders </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </a>
      <a href="/pages/swym-wishlist">
        <span> My Wishlist </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </a>
      <a href="/account/addresses">
        <span>Address </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </a>
      <a href="{{ routes.account_logout_url }}">Sign Out </a>
    </nav>
  </aside>

  <section>

    <h2 class="account-card-title">Account</h2>
    <p class="customer-name-firstName">
      <span class="firstName">
    {{customer.first_name | slice: 0 }}
      </span>
    </p>
    <p class="customer-name">
    {{customer.name}}
    </p>
    <p class="customer-email">
    {{customer.email}}
    </p>
    <p class="customer-phone">
    {{customer.phone}}
    </p>
  </section>


</div>
