{% schema %}
{
  "name": "Search Results",
  "tag": "section",
  "class": "search-results",
  "settings": [],
  "presets": [
    {
      "name": "Search page"
    }
  ]
}
{% endschema %}

<section class="page-search layout__grid-box">
  <h1 class="heading--2">Search Results</h1>

  {% if search.performed %}
    <p class="search-result--count">
      {{ search.results_count }} result{% if search.results_count != 1 %}s{% endif %} for “{{ search.terms }}”
    </p>

    {% if search.results.size > 0 %}
      {% paginate search.results by 12 %}
        <div
          class="collection-list-grid"
          collection-list-mobile="2"
          collection-list-tablet="3"
          collection-list-desktop="4"
        >
          {% for product in search.results %}
            {% render 'product-card', product: product %}
          {% endfor %}
        </div>

        <!-- Pagination controls -->
        <!-- Custom Pagination controls -->
        <div class="pagination">
          {%- if paginate.previous -%}
            <a href="{{ paginate.previous.url }}" class="pagination__button--prev" aria-label="Previous">
              <!-- Left arrow SVG -->
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.56963 11.4571L16.9291 3.4921C17.0686 3.35909 17.2539 3.28491 17.4466 3.28491C17.6393 3.28491 17.8246 3.35909 17.9641 3.4921L17.9731 3.5011C18.041 3.5655 18.095 3.64308 18.1319 3.72909C18.1688 3.81509 18.1878 3.9077 18.1878 4.00129C18.1878 4.09488 18.1688 4.1875 18.1319 4.2735C18.095 4.3595 18.041 4.43708 17.9731 4.50154L10.1011 12.0015L17.9731 19.4985C18.041 19.5629 18.095 19.6405 18.1319 19.7265C18.1688 19.8125 18.1878 19.9051 18.1878 19.9987C18.1878 20.0923 18.1688 20.1849 18.1319 20.2709C18.095 20.3569 18.041 20.4345 17.9731 20.4989L17.9641 20.5079C17.8246 20.6409 17.6393 20.7151 17.4466 20.7151C17.2539 20.7151 17.0686 20.6409 16.9291 20.5079L8.56963 12.5429C8.49601 12.4728 8.4375 12.3886 8.39748 12.2952C8.35746 12.2019 8.33687 12.1014 8.33687 11.9999C8.33687 11.8983 8.35746 11.7978 8.39748 11.7045C8.4375 11.6111 8.49601 11.5269 8.56963 11.4571Z" fill="#660808"/>
            </a>
          {%- endif -%}
          {%- for part in paginate.parts -%}
            {% if part.title == '&hellip;' %}
              <span class="page pagination__page--decorative">…</span>
            {% elsif part.is_link %}
              <span class="pagination__page"
                ><a href="{{ part.url }}">{{ part.title }}</a></span
              >
            {% else %}
              <span class="page pagination__page--current">{{ part.title }}</span>
            {% endif %}
          {%- endfor -%}
          {%- if paginate.next -%}
            <a href="{{ paginate.next.url }}" class="pagination__button--next" aria-label="Next">
              <!-- Right arrow SVG (same as left, flipped) -->

              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.4304 12.5429L8.07094 20.5079C7.93145 20.6409 7.74614 20.7151 7.55344 20.7151C7.36073 20.7151 7.17542 20.6409 7.03594 20.5079L7.02694 20.4989C6.95908 20.4345 6.90505 20.3569 6.86813 20.2709C6.83121 20.1849 6.81217 20.0923 6.81217 19.9987C6.81217 19.9051 6.83121 19.8125 6.86813 19.7265C6.90505 19.6405 6.95908 19.5629 7.02694 19.4984L14.8989 11.9984L7.02694 4.50144C6.95908 4.43698 6.90505 4.35939 6.86813 4.27339C6.83121 4.1874 6.81217 4.09478 6.81217 4.00119C6.81217 3.9076 6.83121 3.81499 6.86813 3.72899C6.90505 3.64299 6.95908 3.5654 7.02694 3.50094L7.03594 3.49194C7.17542 3.35898 7.36073 3.2848 7.55344 3.2848C7.74614 3.2848 7.93145 3.35898 8.07094 3.49194L16.4304 11.4569C16.504 11.527 16.5625 11.6112 16.6025 11.7046C16.6425 11.7979 16.6631 11.8984 16.6631 11.9999C16.6631 12.1015 16.6425 12.202 16.6025 12.2953C16.5625 12.3887 16.504 12.4729 16.4304 12.5429Z" fill="#660808"/>
              </svg>
              </svg>
            </a>
          {%- endif -%}
        </div>
      {% endpaginate %}
    {% else %}
      <p>No results found. Try another search.</p>
    {% endif %}
  {% else %}
    <p>Start typing to search for products, articles, or pages.</p>
  {% endif %}
</section>
